@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Bold";
}
body{
    position: relative;
}
.fondo__puntos {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 35vh;
    overflow: hidden;
    z-index: -10;
}
.fondo__puntos img {
    object-fit: contain;
}
.header{
    object-fit: cover;
    width: 100%;
    padding: 0 .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 5px;

}
.logo__icono img{
    width: 3em;
}
.logo__titulo{
    color: var(--color-blanco);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}
.header__menu {
    width: 3em;
}
main {
    height: 93vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr .3
    fr 1.5fr 1fr;
    grid-template-areas:
    "circulo"
    "ilera1"
    "grafica"
    "ilera2"
    ;
}
.circulo{
    grid-area: circulo;
    display: flex;
    justify-content: center;
    align-items: end;
}
.container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    font-weight: bold;
    font-size: 1.3em;
    width: 200px;
    height: 200px;
    background-color: var(--color-aqua);
    border-radius: 100%;
    color: var(--color-blanco);
    font-family: "SF-Pro-Text-Bold";
}
.ilera1 {
    margin-top: 30px;
    width: 100%;
    grid-area: ilera1;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}
.item1 {
    color: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    width: 20vw;
    border: none;
    height: 4vh;
    background-color: var(--color-gris);
}
.item2 {
    background-color: var(--color-blanco);
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    color: var(--color-aqua);
    width: 20vw;
    height: 4vh;
    border: none;
    outline: .5px solid var(--color-aqua);
}
.item3 {
    background-color: var(--color-blanco);
    border: none;
    color: var(--color-beige);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    width: 20vw;
    height: 4vh;
    outline: .5px solid var(--color-beige);
}
button:hover {
    cursor: pointer;
    font-weight: bold;
}
.img {
    grid-area: grafica;
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.img img {
    object-fit: contain;
}
.ilera2 {
    grid-area: ilera2;
    display: flex;
    background-color: var(--celeste-claro);
    justify-content: space-between;
    padding: 20px;
}
.texto {
    margin-top: 20px;
    width: 40%;
}
.ilera2 img {
    margin-top: 20px;
    width: 40%;
    height: 60%;
}
.ilera2 i {
    background-color: var(--color-aqua);
    border-radius: 100%;
    padding: 2px;
    color: var(--color-blanco);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 100%;
    background: var(--color-gris);
    position: fixed;
    bottom: 0;
}

.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img {
    width: 2em;
}