@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}
body{
    background-color: var(--color-negro);
}
.header{
    width: 100%;
    padding: 0 .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--morado-oscuro);
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 5px;

}
.logo__icono i{
    color: var(--color-orange);
    font-size: 10vw;
}
.logo__titulo{
    color: var(--color-blanco);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
    font-size: 1.5em;
}
.header__menu {
    width: 3em;
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    padding: 0.8em;
    grid-template-areas: 
    "investing"
    "banner"
    "banner"
    "cards"
    "colection"
    "colection"
    "colection"
    "colection"
    "colection"
    ;
    grid-gap: 10px;
    color: var(--color-blanco);
}
.main__title,
.main__title2 {
    margin-top: 1em;
    font-size: 1.5em;
    grid-area: investing;
    text-transform: capitalize;
    font-family: "SF-Pro-Text-Bold";
}
.main__banner {
    grid-area: banner;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__public{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo description"
    ;
    border-radius: 15px;
    box-shadow: 0 0 40px var(--morado-oscuro);
}
.public__logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.public__logo img {
    padding: 10px;
    width: 100%;
    object-fit: contain;
}
.public__description{
    grid-area: description;
    text-align: center;
}
.public__description p {
    font-family: "SF-Pro-Text-Bold";
    font-size: 1.3em;
    margin-top: 20px;
}
.public__description small {
    display: block;
    font-family: "SF-Pro-Text-Regular";
    font-size: 1em;
    color: var(--gris-claro);
}
.public__description button{
    border: none;
    margin-top: 8px;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: var(--color-orange);
    font-family: "SF-Pro-Text-Bold";
    font-size: 1em;
    text-transform: capitalize;
    color: var(--color-blanco);
}
.description__close{
    width: 100%;
    text-align: right;
    padding-right: 5px ;
    padding-top: 5px;
}
.description__close i {
    background-color: var(--color-orange);
    border-radius: 100%;
    padding: 2px;
    color: var(--color-blanco);
}

.main__title2 {
    grid-area: cards;
}
.main__cards{
    grid-area: colection;
    display: flex;
    margin-top: -10px;
    width: 100%;
    height: 350px;
    overflow-x: scroll;
    align-items: center;
}
.cards__item img {
    height: 30vh;
    rotate: 90deg;
}
.footer {
    width: 100%;
    background: var(--color-negro);
    position: fixed;
    bottom: 0;
}
.footer ul {
    display: flex;
    justify-content: space-around;
}
.footer ul li {
    list-style: none;
    margin: .5em 0;
}
.footer ul li a i {
    font-size: 2em;
    color: var(--color-orange);
}
.footer .actual i {
    box-shadow: 0 0 15px var(--color-orange);
}