@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}
.header{
    width: 100%;
    padding: 0 .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--color-blanco);
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 5px;

}
.logo__icono img{
    width: 2em;
}
.logo__titulo{
    color: var(--color-gris);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
    font-weight: bold;
}
.header__menu {
    width: 3em;
}
.header__menu img {
    width: 2.5em;
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    padding: 0.8em;
    grid-template-areas: 
    "investing"
    "banner"
    "banner"
    "cards"
    "colection"
    "colection"
    "colection"
    "colection"
    "colection"
    ;
    grid-gap: 10px;
}
.main__title,
.main__title2 {
    margin-top: 1em;
    font-size: 1.5em;
    grid-area: investing;
    text-transform: capitalize;
    font-family: "SF-Pro-Text-Bold";
}
.main__banner {
    grid-area: banner;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__title2 {
    grid-area: cards;
}
.main__cards{
    grid-area: colection;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: row;

    width: 50%;
    height: 320px;
    overflow-x: scroll;
}
.cards__item {
    flex: 1;
    min-width: 200px;
    background: url(../storage/img/name.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cards__item h2{
    color: var(--color-blanco);
}
.cards__item small{
    position: absolute;
    top: 30px;
    right: 4vw;
    color: var(--color-blanco);
    font-family: "SF-Pro-Text-Semibold";
}
.cards__item img {
    position: absolute;
    width: 30%;
    left: 2vw;
    bottom: 20px;
}
.banner__public{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo description"
    ;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.130);
}
.public__logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.public__logo div{
    position: absolute;
    background-color: var(--celeste-claro);
    opacity: -1px;
    z-index: -1;
    right: 3px;
    width: 700px;
    height: 400px;
    border-radius: 100%;
}
.public__logo img {
    padding: 10px;
    width: 100%;
    object-fit: contain;
}
.public__description{
    grid-area: description;
    text-align: center;
}
.public__description p {
    font-family: "SF-Pro-Text-Bold";
    font-size: 1.3em;
    color: var(--color-gris);
    margin-top: 20px;
}
.public__description small {
    display: block;
    font-family: "SF-Pro-Text-Regular";
    font-size: 1em;
    color: var(--gris-claro);
}
.public__description button{
    border: none;
    margin-top: 8px;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: var(--color-aqua);
    font-family: "SF-Pro-Text-Bold";
    font-size: 1em;
    text-transform: capitalize;
    color: var(--color-blanco);
}
.description__close{
    width: 100%;
    text-align: right;
    padding-right: 5px ;
    padding-top: 5px;
}
.description__close i {
    background-color: var(--color-aqua);
    border-radius: 100%;
    padding: 2px;
    color: var(--color-blanco);
}

.footer {
    width: 100%;
    background: var(--color-gris);
    position: fixed;
    bottom: 0;
}


.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img {
    width: 2em;
}