@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}
body{
    background: var(--color-gris);
}
.banner {
    position: absolute;
    z-index: -100;
}
.banner img{
    width: 100%;
}
.header{
    width: 100%;
    padding: 0 .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 5px;

}
.logo__icono img{
    width: 3em;
}
.logo__titulo{
    color: var(--color-blanco);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}
.header__menu {
    width: 3em;
}
.titulo__card{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 0 0.5em
}
.titulo__card h2,
.titulo__card p{
    font-size: 2.3em;
    color: var(--color-blanco);
    text-transform: capitalize;
}
.titulo__card h2{
    font-family: "SF-Pro-Text-Heavy";
}
.titulo__card p{
    font-family: "SF-Pro-Text-Light";
    text-transform: capitalize;
}
.titulo__balance{
    display: flex;
    height: 130px;
    margin-top: -30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
    color: var(--color-blanco);
}
.balance__one,
.balance__two{
    display: flex;
    flex-direction: column;
}

.balance__one small,
.balance__two small {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "SF-Pro-Text-Medium";
}

.balance__one label,
.balance__two label {
    font-size: 1.3em;
    font-family: "SF-Pro-Text-Bold";
}


.balance__one progress::-webkit-progress-value {
    background-color: var(--color-aqua);
}
.balance__one progress::-webkit-progress-bar{
    background-color: var(--color-blanco);
}

.balance__two progress::-webkit-progress-bar {
    background-color: var(--color-blanco);
}
.balance__two progress::-webkit-progress-value {
    background-color: var(--gris-claro);
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: .5em;
    border-radius: 10em;
}
progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}
.main__activities{
    background-color: var(--color-blanco);
    padding: 1em;
    border-radius: 30px;
    padding-bottom: 3.5em;
    color: var(--color-gris);
}

.activities__buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
}

.buttons__icons{
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.buttons__icons img{
    background: var(--color-blanco);
    border-radius: 20px;
    width: 30%;
    padding: 0 20px 0 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.activities__transactions{
    padding-top: 30px;
}

.activities__transactions img{
    width: 40px;
}


.activities__transactions p{
    font-size: .5em;
    color: var(--color-beige);
}

.activities__transactions li{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.transactions__box1 , .transactions__box2{
    display: flex;
}

.transactions__box2{
    flex-direction: column;
    align-items: flex-end;
}
.footer {
    width: 100%;
    background: var(--color-gris);
    position: fixed;
    bottom: 0;
}

.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img {
    width: 2em;
}