<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <i class='bx bxl-bitcoin'></i>
            </div>
            <div class="logo__titulo">BitcoinWallet</div>
        </div>
        <div class="header__menu">
            <img src="../storage/img/menu.png" alt="">
        </div>
    </header>
    <main>
        <div class="circulo">
            <div class="container">
               <h2>total balance</h2>
               <h2><sub>$</sub>214,417</h2>
            </div>
        </div>
        <div class="ilera1">
            <button>Assets</button>
            <button>Debt</button>
            <button>Income</button>
        </div>
        <div class="img">
            <img src="../storage/img/escala.svg" alt="">
        </div>
        <div class="ilera2">
            <img src="../storage/img/grafica.svg" alt="">
            <div class="texto">
                <h3>Spending</h3>
                <p>You forgot to add debt card number at payment #1323. Add it now.</p>
            </div>
            <i class='bx bx-x' ></i>
        </div>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="../index.html"><i class='bx bx-wallet'></i></a>
            </li>
            <li>
                <a href="../views/cards.html"><i class='bx bx-scatter-chart'></i></a>
            </li>
            <li>
                <a class="actual" href="views/balance.html"><i class='bx bx-station'></i></a>
            </li>
        </ul>
    </footer>
</body>