<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="fondo__puntos">
        <img src="../storage/img/Group 216.svg" alt="">
    </div>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/Frame_2.png">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <img src="../storage/img/menu.png" alt="">
        </div>
    </header>
    <main>
        <div class="circulo">
            <div class="container">
               <h2>total balance</h2>
               <h2><sub>$</sub>214,417</h2>
            </div>
        </div>
        <div class="ilera1">
            <button class="item1">Assets</button>
            <button class="item2">Debt</button>
            <button class="item3">Income</button>
        </div>
        <div class="img">
            <img src="../storage/img/grafica.png" alt="">
        </div>
        <div class="ilera2">
            <img src="../storage/img/Group 14.png" alt="">
            <div class="texto">
                <h3>Spending</h3>
                <p>You forgot to add debt card number at payment #1323. Add it now.</p>
            </div>
            <i class='bx bx-x' ></i>
        </div>
    </main>

    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_2.svg" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_4.svg" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_5.svg" alt=""></a>
            </li>
        </ul>
    </footer>
</body>