<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cards.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <i class='bx bxl-bitcoin'></i>
            </div>
            <div class="logo__titulo">BitcoinWallet</div>
        </div>
        <div class="header__menu">
            <img src="../storage/img/menu.png" alt="">
        </div>
    </header>
        <main class="main">
            <h3 class="main__title">Cryptocurrency management</h3>
            <section class="main__banner">
                <div class="banner__public">
                    <div class="public__logo">
                        <img src="../storage/img/gestionmonedas.png" alt="">
                    </div>
                    <div class="public__description">
                        <div class="description__close"><i class='bx bx-x' ></i></div>
                        <p>What is an ETF</p>
                        <small>By james B, PHD</small>
                        <button>LEARN MORE</button>
                    </div>
                </div>
            </section>
            <h3 class="main__title2">My Cards (4)</h3>
            <section class="main__cards">
                <article class="cards__item">
                    <img class="t1" src="../storage/img/tarjeta1.png" alt="">
                </article>
                <article class="cards__item">
                    <img class="t2" src="../storage/img/tarjeta2.png" alt="">
                </article>
                <article class="cards__item">
                    <img class="t3" src="../storage/img/tarjeta3.png" alt="">
                </article>
                <article class="cards__item">
                    <img class="t4" src="../storage/img/tarjeta4.png" alt="">
                </article>
            </section>
        </main>
        <footer class="footer">
            <ul>
                <li>
                    <a href="../index.html"><i class='bx bx-wallet'></i></a>
                </li>
                <li>
                    <a class="actual" href="#"><i class='bx bx-scatter-chart'></i></a>
                </li>
                <li>
                    <a href="../views/balance.html"><i class='bx bx-station'></i></a>
                </li>
            </ul>
        </footer>
        </footer>
</body>
</html>